body{
	background:#242424 !important;
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-background-item{
	border-right:1px solid #343434 !important;
	transition:all ease 0.3s !important;
}
.crt__logo__download__overlay a {
	color: #000 !important;
	transition: all .5s ease-in-out !important;
	font-size: 100% !important;
}
.crt-background-item:nth-child(2n+1){
	background:#252525 !important;
}
.crt-theme-style a{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-header-logo a{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-header-search form input[type='text']{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-header-search form input[type='submit']{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-header-search form input[type='button']{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-menu-list ul li a{
	color:#BEBEBE !important;
	transition:all ease 0.3s !important;
}
.crt-menu-list ul li a:hover{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-menu-list ul li a.active{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-post-title h3 a{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-post-title span a{
	color:#848484 !important;
	transition:all ease 0.3s !important;
}
.crt-navigation{
	transition:all ease 0.3s !important;
}
.crt-navigation a{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-footer-sn ul li a{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}
.crt-footer-links ul li a{
	color:#FFFFFF !important;
	transition:all ease 0.3s !important;
}

.crt-boxed__shadow {
    padding: 10px !important;
    box-shadow: 2px 2px #888888 !important;
    background: #242424 !important;
    color: #fff !important;
}

.submit {
	border: 2px solid #FFF !important;
}
